EXPO_PUBLIC_API_URL=https://hncm717srj.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_AWS_REGION=us-east-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_wcPLRxv6W
EXPO_PUBLIC_COGNITO_CLIENT_ID=7i1l02ojsk3j6f1plnh0iu5g7m
# OBRIGATORIO para login com Google: URL do Hosted UI do Cognito
# Exemplo: https://seu-pool.auth.us-east-1.amazoncognito.com
EXPO_PUBLIC_COGNITO_DOMAIN=
