EXPO_PUBLIC_API_URL=https://evsk12d73e.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_AWS_REGION=us-east-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_A3GXkv1Vl
EXPO_PUBLIC_COGNITO_CLIENT_ID=2g11hr2elg8u7k9mn3p5q8r1s2t
EXPO_PUBLIC_COGNITO_DOMAIN=https://toyotatech-mobile.auth.us-east-1.amazoncognito.com
