EXPO_PUBLIC_API_URL=https://l84unvs44b.execute-api.us-east-1.amazonaws.com
EXPO_PUBLIC_AWS_REGION=us-east-1
EXPO_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_VdabDWy9d
EXPO_PUBLIC_COGNITO_CLIENT_ID=48jhskpjl3ea2le5gaegmel1be
EXPO_PUBLIC_COGNITO_DOMAIN=
